# Python cache
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/
.mypy_cache/

# Environment
.venv/

# Build and distribution
src/Ironvault.egg-info/

# Logs
src/Ironvault/logs/
savefile.json

# VS Code
.vscode/